# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
nbproject/project.xml
nbproject/private/retriever/catalog.xml
nbproject/project.properties
nbproject/private/retriever/www.w3.org/ns/widgets/index.xml
nbproject/private/private.xml
nbproject/private/private.properties
js/_mjq2.js
js/_mjq1.js
js/_jq2.js
js/_jq1.js
js/license.inc
js/compress_js.php
bitacora.php
css/index.css
js/_mjq3.js
minifycss.php
firma del localizador.png
config_1.xml
index_1.html
config_2.xml
